<h1>Editing project</h1>

<%= render 'form' %>

<%#= form_for @project, :url => projects_path, :html => { :multipart => true } do |form| %>
  <%#= form.file_field :attachment %>
<%# end %>

<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>
