<h1>New project</h1>
<%= render 'form' %>

<%#= Ci.new(params[:ci])%>
<%= link_to 'Back', projects_path %>

<%#= form_for @project, :url => projects_path, :html => { :multipart => true } do |form| %>
  <%#= form.file_field :attachment %>
<%# end %>
